#body {
    margin: none;   
}

.brand {
    display: flex;
    margin-right: 35%;
    flex-direction: column;
    width: 100%;
    padding-left: 45%;
    background-color: blanchedalmond;
    margin: 10px 10px 10px 10px;
}