@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
    font-family: 'Roboto Condensed', sans-serif;
}

#body {
    margin: 0;  
    padding: 0;
}

#brand {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#menu {
   background-color: blanchedalmond;
   margin-left: 10px;
   margin-right: 10px;
}

