#body {
    margin: none;   
}

.brand {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-left: 45%;
    background-color: blanchedalmond;
    margin: 10px 10px 10px 10px;
}

#products-box {
    margin-top: 10px;
    display: flex;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title {

}